<!DOCTYPE html>
<html>
<head>
  <title>HumanMood</title>
  <link rel="stylesheet" href="/styles.css">
  <!-- Import Chart.js from CDN -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div id="ctaMessage">Let us know how you're feeling right now</div>
    <div id="formContainer">
      <form action="/submit-mood" method="post">
        <button type="submit" name="mood" value="happy" style="background-color: rgba(255, 99, 132, 0.7);">😄</button>
        <button type="submit" name="mood" value="sad" style="background-color: rgba(54, 162, 235, 0.7);">😢</button>
        <button type="submit" name="mood" value="angry" style="background-color: rgba(255, 206, 86, 0.7);">😠</button>
        <button type="submit" name="mood" value="neutral" style="background-color: rgba(75, 192, 192, 0.7);">😐</button>
      </form>
    </div>
    <div id="mood-chart">
      <canvas id="chartCanvas"></canvas>
      <div id="chartDescription">This chart displays all users' moods and is updated every 5 seconds.</div>
    </div>
  <script>
    // Function to fetch mood data from the server
    async function fetchMoodData() {
      try {
        const response = await fetch('/moods');
        const data = await response.json();
        displayMoodChart(data);
      } catch (error) {
        console.error('Error fetching mood data:', error);
      }
    }
  
    // Function to display the mood data as a trend chart using Chart.js
    function displayMoodChart(moods) {
      const chartCanvas = document.getElementById('chartCanvas').getContext('2d');
      const moodLabels = moods.map((mood) => mood.mood);
      const moodCounts = moods.map((mood) => mood.count);
  
      const defaultCounts = Array(moodLabels.length).fill(0); // Create an array with 0 values
  
      new Chart(chartCanvas, {
        type: 'bar',
        data: {
          labels: moodLabels,
          datasets: [
            {
              label: 'Mood Trend',
              data: moods.length ? moodCounts : defaultCounts, // Use defaultCounts if no data
              backgroundColor: [
                'rgba(255, 99, 132, 0.7)',
                'rgba(54, 162, 235, 0.7)',
                'rgba(255, 206, 86, 0.7)',
                'rgba(75, 192, 192, 0.7)',
              ],
              borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
              ],
              borderWidth: 1,
            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });
    }
  
    // Function to update the chart every few seconds
    function updateChart() {
      fetchMoodData();
    }
  
    // Fetch initial data and update chart every 5 seconds
    fetchMoodData();
    setInterval(updateChart, 5000);
  </script>
  
</body>
</html>
